node_modules
ios/DerivedData/FirebaseAppTemplate/Index/UniDB/FirebaseAppTemplate.xcindex/v13/saved/data.mdb
ios/DerivedData/FirebaseAppTemplate/Index/UniDB/FirebaseAppTemplate.xcindex/v13/saved/data.mdb
ios/DerivedData/FirebaseAppTemplate/Index/UniDB/FirebaseAppTemplate.xcindex/